<h1>Pages#index</h1>
<p>index.html.erb</p>
<p> This page is showing on localhost:3000</p>

<%= link_to 'Send Notification', pages_index_path, remote: true %>
The above line is for Send Push Notification


<div id="room-id" data-room-id="<%= @room_id %>"> </div>


